{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "settings": {
    "files": [
      "**/*.js",
      "**/*.jsx",
      "**/*.ts",
      "**/*.tsx"
    ]
  }
}